@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

html, body {
    background-color: #23272A;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-grow {
    flex-grow: 1;
}

.dark-af {
    background-color: #23272A;
}

.middle-dark-af {
    background-color: #2e3438;
}

.lighter-dark-af {
    background-color: #515a61;
}

.content {
    padding: 10px;
}

@media screen and (max-width: 600px) {
    .image-panel {
        flex-wrap: wrap;
    }
}

.image-detail-wrapper {
    margin: 0 20px;
}

.image-data-wrapper {
    margin: 0 10px;
}

.type-gallery {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.gallery {
    padding: 10px;
    width: 100%;
}

.gallery-header {
    display: flex;
    justify-content: space-between;
}

.gallery-page {
    display: flex;
}

.gallery-page h3 {
    padding-left: 5px;
}

.gallery-pageselector {
    display: flex;
    text-align: center;
    align-items: center;
}

.image-list {
    display: flex;
    flex-wrap: wrap;
}

.image-single {
    max-height: 200px;
    height: auto;
    padding: 10px;
    background-color: #2C2F33;
    transition: all 0.3s ease-in;
}

.image-detail {
    max-width: 600px;
    height: auto;
}

.upload-start {
    margin: 10px;
    display: flex;
}

.error {
    color: #bc1219;
}

.full-width {
    width: 100%;
}
